.card{
    border-radius: 5px;
    border: 1px solid #f2f2f2;
}
.pokemon-card{
    cursor: pointer;
}
.pokemon-card:hover{
    padding: 10px;
    background: #bd3736;
    color: white;
}
.contactMail{
    cursor: pointer;
}
.mat-paginator{
    background: #f2f2f2;
}