<div class="row main-container">
    <div class="col-md-12 text-center mb-3">
        <h1 mat-dialog-title class="d-inline"> Contacto </h1>
    </div>
    <hr>
    <div class="col-md-6">
        <img src="./../../../assets/images/user-icon-2098873_1280.png" alt="userInfo" width="200" class="d-inline">
    </div>

    <div class="col-md-6">
        <div class="col-md-12">
            <h2><span class="badge badge-light">{{this.data.userName}} </span></h2>
        </div>
        <div class="col-md-12">
            <h2><span class="badge badge-light"> {{this.data.email}}
                </span></h2>
        </div>
        <div class="col-md-12">
            <h2><span class="badge badge-light"> {{this.data.cellphone}}
                </span></h2>
        </div>
    </div>


</div>